<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>lrsd db mange</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UNIV SETIF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">main website</a>
                    </li>
            </div>
        </div>
    </nav>
    <header>

    </header>

    <main>
        <div class="container-md ">
            <div class="row text-center ">
                <h2>add admin </h2>
                <form action="/add_admin" method="post">
                    <div class="input-group mb-3 ">
                        <span class="input-group-text" id="un">user name</span>
                        <input type="text" name="username" id="username" class="form-control "
                            placeholder="Enter username" aria-label="un" aria-describedby="admin user name">

                    </div>
                    <div class="input-group mb-3 ">
                        <span class="input-group-text" id="em">email</span>
                        <input type="email" name="email" id="email" class="form-control "
                            placeholder="Enter email(optionl)" aria-label="em" aria-describedby="admin email optionl">

                    </div>
                    <div class="input-group mb-3 ">
                        <span class="input-group-text" id="ps" id="ps">password</span>
                        <input type="password" name="password" id="password" class="form-control "
                            placeholder="Enter password" aria-label="ps" aria-describedby="admin password">

                    </div>
                    <button type="submit">ADD admin</button>
                </form>
            </div>
            <div class="row text-center ">
                <h2>add department </h2>
                <form action="/add_department" method="post">
                    <div class="input-group mb-3 ">
                        <span class="input-group-text" id="un">department name</span>
                        <input type="text" name="name" id="name" class="form-control "
                            placeholder="Enter department name" aria-label="un" aria-describedby="department name">
                    </div>
                    
                    <button type="submit">ADD department</button>
                </form>
            </div>
            <div class="row text-center ">
                <h2>add grade </h2>
                <form action="/add_grade" method="post">
                    <div class="input-group mb-3 ">
                        <span class="input-group-text" id="g">grade name</span>
                        <input type="text" name="grade" id="grade" class="form-control "
                            placeholder="Enter grade name" aria-label="g" aria-describedby="grade name">
                    </div>
                    
                    <button type="submit">ADD grade</button>
                </form>
            </div>
        </div>
    </main>

    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>