<div class="container-sm ">
    <div class="row">
        <nav class="navbar navbar-expand-md " data-bs-theme="light" id="production_nav">
            <div class="container-fluid d-flex  justify-content-around  ">
              <button class="navbar-toggler lead " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <span class="lead ">Chose Production Type</span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav d-flex  justify-content-around  w-100 ">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#polycope">Polycope</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#online_courses">Online Courses</a>
                  </li>
                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Supervision</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#master">Master</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#l3">L3</a></li>
                    </ul>
                  </li>                  
                  <li class="nav-item">
                    <a class="nav-link" href="#conference">Conference</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#article">Article</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
    </div>


</div>