{% extends "layout.html" %}

{% block title %}
{% if titel %}
{{title}}
{% else %}
no titel yet
{% endif %}

{% endblock %}
<h1 class="text-center ">Admin Dashboard</h1>
{% block main %}
<div class="container-md ">
    <div class="row text-center ">
        <h2>add teacher</h2>
        <form action="/add_teacher" method="post">
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="un">user name</span>
                <input type="text" name="username" id="username" class="form-control " placeholder="Enter username"
                    aria-label="un" aria-describedby="teacher user name">
            </div>

            <div class="input-group mb-3 ">
                <span class="input-group-text" id="fn">first name</span>
                <input type="text" name="first_name" id="first_name" class="form-control "
                    placeholder="Enter first name" aria-label="fn" aria-describedby="teacher first name">
            </div>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="ln">last name</span>
                <input type="text" name="last_name" id="first_name" class="form-control " placeholder="Enter last name"
                    aria-label="ln" aria-describedby="teacher last name">
            </div>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="em">email</span>
                <input type="email" name="email" id="email" class="form-control " placeholder="Enter email(optionl)"
                    aria-label="em" aria-describedby="teacher email optionl">
            </div>

            <div class="input-group mb-3 ">
                <span class="input-group-text" id="ps" id="ps">password</span>
                <input type="password" name="password" id="password" class="form-control " placeholder="Enter password"
                    aria-label="ps" aria-describedby="teacher password">
            </div>

            <div class="input-group mb-3 ">

                <select name="department" id="department">
                    <option disabled selected>department</option>
                    {% for department in departments %}
                    <option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
                </select>

            </div>
            <button type="submit">ADD teacher</button>
        </form>
    </div>
    <div class="row text-center ">
        <h2>edit teacher</h2>
        <form action="/edit_teacher" method="post">
            <div class="input-group mb-3 ">

                <select name="teacher" id="department">
                    <option disabled selected>department</option>
                    {% for teacher in teachers %}
                    <option value="{{teacher.id}}">{%if teacher.first_name %}{{teacher.first_name}}{% endif %} {%if
                        teacher.last_name %} {{teacher.last_name}} {% endif %}"{{teacher.username}}"</option>
                    {% endfor %}
                </select>

            </div>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="un">user name</span>
                <input type="text" name="username" id="username" class="form-control " placeholder="Enter username"
                    aria-label="un" aria-describedby="teacher user name">
            </div>

            <div class="input-group mb-3 ">
                <span class="input-group-text" id="fn">first name</span>
                <input type="text" name="first_name" id="first_name" class="form-control "
                    placeholder="Enter first name" aria-label="fn" aria-describedby="teacher first name">
            </div>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="ln">last name</span>
                <input type="text" name="last_name" id="first_name" class="form-control " placeholder="Enter last name"
                    aria-label="ln" aria-describedby="teacher last name">
            </div>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="em">email</span>
                <input type="email" name="email" id="email" class="form-control " placeholder="Enter email(optionl)"
                    aria-label="em" aria-describedby="teacher email optionl">
            </div>

            <div class="input-group mb-3 ">
                <span class="input-group-text" id="ps" id="ps">password</span>
                <input type="password" name="password" id="password" class="form-control " placeholder="Enter password"
                    aria-label="ps" aria-describedby="teacher password">
            </div>


            <button type="submit">edit teacher</button>
        </form>
    </div>
</div>
{% endblock %}