<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <title>Guest</title>
        <style>
          .carousel-item img {
              height: 500px;
              object-fit: cover;
              width: 100%;
          }
      </style>
      </head>
<body>

    <nav class="navbar bg-dark ">
        <div class="container-sm">
          <a class="navbar-brand" href="/guest">
            <img src="/static/logo.png" alt="Logo" width="100" class="d-inline-block align-text-top">
          </a>
          <a class=" nav-item " href="/gueststat">
            Statistics
          </a>
        </div>
      </nav>
      <header>
        
    </header>

 
    <main class="mb-5">
        <div class="mb-5 container-sm ">
            <div class=" d-flex justify-content-between ">
            <a href="/" id="goBack"><i class="bi bi-arrow-left-circle-fill p-3"></i><span class="h4">Back</span></a>
            <script>
                // Get the referrer URL from the browser's history
                var referrer = document.referrer;
        
                // Get the "Go Back" link element
                var goBackLink = document.getElementById('goBack');
        
                // Set the "href" attribute of the link to the referrer URL
                goBackLink.href = referrer;
            </script>
        </div>
        <div class="container-sm">
            <div class="card">
                <div class="row card-header align-content-center  ">
                    <div class="col-5  mb-3 mb-sm-1 col-sm-3 col-md-2"><img src="/static/user_img.png" class="rounded float-start w-100" alt=""></div>
                    <div class="col-10 col-sm-6 col-md-4 d-flex flex-column">
                        <h3>{{ teacher.full_name }}</h3>
                        <p class="lead">Grade : {{ teacher.grade }}</p>
                        <p class="lead">Email : {% if teacher.email %}{{ teacher.email }}{% else %}None email{% endif %}</p>
                        <p class="lead">Department : {{ teacher.department }}</p>
                    </div>
                </div>
                <div class="card-body row justify-content-around">
                    {% for production in productions %}
                        
                        <div class="card col-10 col-md-5 mt-4 p-3">
                            <h5>{{production.types}}</h5>
                            {% for field in production %}
                                {% if field != "types"%}
                                <p class="lead">{{ field }} : {{ production[field] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>