
<div class="container-md ">
    <div class="input-group my-3 "><input type="search" placeholder="enter the name or username of the teacher"
            class="form-control " id="search"><button type="button"
            class="input-group-text btn-primary " id="search_btn">Search</button></div>
    <div class="container-sm " id="list"> </div>

    <div class="text-center "><button type="button" id="all" class="btn btn-link mt-2 ">view all</button></div>


    <!-- <Script>
        async function teachers(l) {

            let teachers_response = await fetch("/production?l=" + l);
            const list2 = document.getElementById("list");
            list2.innerHTML = await teachers_response.text();
        }
        teachers(3);
        const all = document.getElementById("all");
        all.addEventListener("click", async function () {
            if (all.innerText == "view all") {
                let teachers_response = await fetch("/production");
                const list2 = document.getElementById("list");
                list2.innerHTML = await teachers_response.text();
                all.innerText = "view less";
            }
            else {
                teachers(3);
                all.innerText = "view all";
            }
        })
        const searchBtn = document.getElementById("search_btn");
        const searchInp = document.getElementById("search");
        [searchBtn, searchInp].forEach(search => search.addEventListener("input",async function(){
            console.log("adadazdefefafaefaffzeffefl lorem sfefzefefaefz");
            let teachers_response = await fetch("/production?q="+search.value);
            const list2 = document.getElementById("list");
            list2.innerHTML = await teachers_response.text();
            all.innerText = "Cancel";

        }));

    </Script> -->
    <p class="lead text-center mt-4 ">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            Add New Production
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse" id="collapseWidthExample">
            <div class="row text-center ">
                <h2>add production</h2>
                <div class="container-fluid ">
                    <nav class="nav nav-pills nav-justified">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                        <a class="nav-link" href="#">Much longer nav link</a>
                        <a class="nav-link" href="#">Link</a>
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                      </nav></div>
                <div class="" id="production"></div>
            </div>


        </div>
    </div>


</div>
