{% extends "admin_dashboard.html" %}
{% block prod %}active{% endblock %}
{% block body %}
<div>
    <!-- add new production -->
    <div class="row justify-content-between  mb-5 ">
        <div class="col-6 col-md-3  col-lg-2 d-flex  "><i
                class="bi bi-inboxes-fill  d-flex  align-content-center my-auto me-0  me-md-3  lead "></i>
            <h2 class="mb-0 ">Productions</h2>
        </div>
        <div class="col-2 col-md-4 "> <button class="btn btn-primary lead " type="button" data-bs-toggle="collapse"
                data-bs-target="#add_production" aria-expanded="false" aria-controls="add_production"> <i
                    class="bi bi-plus-circle-fill me-3 "></i>
                <span class=" d-none d-md-inline ">Add New Production</span>
            </button></div>

    </div>
    <div class="collapse mb-5 " id="add_production">
        <div class="row text-center ">
            <div class="container-sm ">
                <div class="row">
                    <nav class="navbar navbar-expand-md " data-bs-theme="light" id="production_nav">
                        <div class="container-fluid d-flex  justify-content-around  ">
                            <button class="navbar-toggler lead " type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span> <span class="lead ">Chose Production
                                    Type</span>
                            </button>
                            <div class="collapse navbar-collapse " id="navbarNav">
                                <ul class="navbar-nav d-flex  justify-content-around  w-100 nav-underline">
                                    <li class="nav-item">
                                        <a class="nav-link text-primary active production" aria-current="page"
                                            href="#polycopes" id="polycopes">Polycope</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link production" id="online_courses" href="#online_courses">Online Courses</a>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#master"
                                            role="button" aria-expanded="false">Supervision</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item production" id="master" href="#master">Master</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item production" id="l3" href="#l3">L3</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link production" id="conference" href="#conference">Conference</a>
                                    </li>
                                    <li class="nav-item"> 
                                        <a class="nav-link production" id="article" href="#article">Article</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid " id="form">
            
        </div>
    </div>



    <!-- search for a production -->
    <div class="input-group my-3 pb-3"><input type="search" placeholder="enter the name of the production"
            class="form-control " id="search"><button type="button" class="input-group-text btn-primary  "
            id="search_btn">Search</button></div>
    <div class="container-sm " id="list"> </div>


    <!-- vew list of production -->
    <div class="text-center "><button type="button" id="all" class="btn btn-link mt-2 ">view all</button></div>
    <!-- to be change for production in sted of techers -->
    <!--<Script>
        async function get_html(url, id, args = "") {
            let response = await fetch(url + args);
            const elem = document.getElementById(id);
            elem.innerHTML = await response.text();
            console.log("qdefeefez");
        }


    </Script>-->


    <Script src="/static/production.js"></Script>
</div>{% endblock %}