{% extends "layout.html" %}

{% block title %}
    {% if titel %}
    {{title}}
    {% else %}
    no titel yet
    {% endif %}

{% endblock %}
{% block header %}

{% endblock %}
{% block main %}
    <div class="container-sm "> 
        <ul class="list-group " id="list2">
        </ul>
    </div>

    <Script>
        async function teachers_2(){
            let teachers_response = await fetch("/teachers_");
            const list2 = document.getElementById("list2");
            list2.innerHTML = await teachers_response.text() ;
        }
        teachers_2();
    </Script>

{% endblock %}