{% extends "layout.html" %}

{% block title %}
    {% if titel %}
    {{title}}
    {% else %}
    no titel yet
    {% endif %}

{% endblock %}
{% block main %}
<div id="teachers"></div>
<button type="button" id="btn">click</button>
<script>
    const list = document.getElementById("teachers");
    async function getTeachersList(){
        const result = await fetch ("/teachers")
        list.innerHTML = result
        console.dir(result)
        console.dir(list)
    }
    const btn = document.getElementById("btn")
    btn.addEventListener("click",getTeachersList)
</script>
{% endblock %}